PORT=5000
MONGODB_URI=mongodb://SHARANGPANI:SHARANGPANI8601@ac-nsexa13-shard-00-00.s5qfiaq.mongodb.net:27017,ac-nsexa13-shard-00-01.s5qfiaq.mongodb.net:27017,ac-nsexa13-shard-00-02.s5qfiaq.mongodb.net:27017/?ssl=true&replicaSet=atlas-m8rjnp-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=replace-with-a-long-random-secret
CLIENT_URL=http://localhost:3000
GOOGLE_CLIENT_ID=858078690072-t69cu1uu7qrneghl4916g32srufkk53c.apps.googleusercontent.com
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=gemini-2.0-flash
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
